<%
  user ||= nil
  resume ||= nil
  disciplines ||= nil
%>
<table>
    <tr>
        <th class="d40">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
        </th>
    </tr>

    <% disciplines.each do |discipline| %>
        <tr>
            <td>
                <%= render :partial => 'disciplines/link_to_discipline', :locals => { :user => user, :resume => resume, :discipline => discipline } %>
            </td>
        </tr>
    <% end %>
</table>
<% if is_user_match? %>
    <a href="<%= new_discipline_path(user) %>" class="link-to-editable" rel="internal" title="Add a new discipline">[Add discipline]</a>
<% end %>