<table>
    <tr>
        <th class="d40">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
        </th>
    </tr>

    <% @disciplines.each do |discipline| %>
        <tr>
            <td>
                <%= render :partial => 'disciplines/link_to_discipline', :locals => { :discipline => discipline } %>
            </td>
        </tr>
    <% end %>
</table>