<a href="/disciplines/<%= discipline.id %>" class="organizational-type-title discpline-title" rel="internal" title="See jobs and skills involving this discipline">
    <%= decode(discipline.title.capitalize) %></a>