<%
  user ||= nil
%>
<ul class="organizational-type-list discipline-list">
    <% if !disciplines.nil? and disciplines.length > 0 %>
        <% disciplines.each do |discipline| %>
            <li>
                <%= render :partial => 'disciplines/link_to_discipline', :locals => { :discipline => discipline } %>
            </li>
        <% end %>
    <% else %>
        No disciplines
    <% end %>
    <% if is_user_match? %>
        <a href="<%= new_discipline_path(user) %>" class="link-to-editable" rel="internal" title="Add a new discipline">[Add discipline]</a>
    <% end %>
</ul>