<ul class="organizational-type-list discipline-list">
    <% if !@disciplines.nil? %>
        <% @disciplines.each do |discipline| %>
            <li>
                <%= render :partial => 'disciplines/link_to_discipline', :locals => { :discipline => discipline } %>
            </li>
        <% end %>
    <% else %>
        No disciplines
    <% end %>
</ul>