<% content_for :head do %>
    <hgroup>
        <h1>Editing discipline</h1>
        <h2><%= decode(@discipline.title).titleize %></h2>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <%= render 'form' %>
    </section>
<% end %>
