<% content_for :head do %>
    <hgroup>
        <h1>
            <%= decode(@discipline.title) %>
        </h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <hgroup>
            <h1>Skills</h1>
        </hgroup>
        <%= render :partial => 'skills/small_list', :locals => { :skills => @skills, :user => @user, :resume => @resume } %>
    </section>
<% end %>