$nearNeutral: #5f5245;
$darkest: #bb6318;
$middle: #e08529;
$light: #f9ca7e;
$lightest: #f5d99A;

$accent: #09c;
$subtleAccent: #077CB2;

$defaultText: #444;
$deemphasizedText: #888;
$tableStriping: #f6f6f6;
$almostGray: #e9e7e0;
// something: #6D8AC4
//http://www.colourlovers.com/palette/1510816/Dulce