<%
   resume ||= nil
   user ||= nil
   if resume then
     path = resume_job_path(:user_id => user.id, :resume_id => (resume && resume.id), :id => job.id)
   else
     path = job_path(:user_id => current_user.id, :id => job.id)
   end
%>
<a href="<%= path %>" class="job-title" rel="internal" title="See details"><%= decode(job.title) %></a>