<% content_for :head do %>
    <hgroup>
        <h1>
            Listing jobs
            <% if !@skill.nil? %>
                <%= ' involving ' + decode(@skill.title) %>
            <% elsif !@software.nil? %>
                <%= 'involving ' + decode(@software.title) %>
            <% end %>
        </h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <%= render :partial => 'jobs/full_list', :locals => { :user => @user, :resume => @resume, :jobs => @jobs } %>
    </section>
<% end %>