* {
  box-sizing: border-box; }

html {
  height: 100%;
  position: relative;
  width: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%; }

#wrapper {
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%; }

header {
  display: block;
  overflow: hidden; }

header nav {
  clear: both;
  display: block; }

#main {
  padding: 0 4.167% 4em; }

section {
  padding-bottom: 1em; }

footer {
  bottom: 0;
  clear: both;
  display: block;
  height: 2em;
  left: 0;
  padding: 0 4.167%;
  position: absolute;
  right: 0; }

/* DEFAULT */
.breadcrumbs {
  background-color: #222; }

.breadcrumbs li {
  border-bottom: 1px solid #fff;
  display: block;
  padding: 0 4.167%; }

.breadcrumbs .breadcrumb-separator {
  display: none; }

tr {
  display: block; }

th {
  display: none;
  padding: 0.1875em 1em 0.1875em 0; }

td {
  display: block;
  padding: 0.1875em 1em 0.1875em 0; }

th.numericData,
td.numericData {
  text-align: right; }

th.d10,
td.d10 {
  width: 7.5%; }

th.d20,
td.d20 {
  width: 17.5%; }

th.d30,
td.d30 {
  width: 27.5%; }

th.d40,
td.d40 {
  width: 37.5%; }

th .sort-link {
  background: transparent url("/images/icons/sortable.gif") no-repeat right center;
  padding-right: 35px; }

th .sort-link.desc {
  background-image: url("/images/icons/sort-desc.gif"); }

th .sort-link.asc {
  background-image: url("/images/icons/sort-asc.gif"); }

section.primary .primary-type-details dt {
  clear: left;
  float: left;
  width: 25%; }

section.primary .primary-type-details dd {
  float: left;
  /* gives an extra 24px margin (in the hypothetical 960px layout) */
  width: 75%; }

@media screen and (min-width: 720px) {
  body {
    display: table;
    caption-side: top; }

  header {
    display: table-caption; }

  .breadcrumbs {
    padding: 0.75em 4.167%; }

  .breadcrumbs li {
    border: 0;
    display: inline;
    padding: 0; }

  .breadcrumbs .breadcrumb-separator {
    display: inline;
    padding: 0 0.75em; }

  tr {
    display: table-row; }

  th, td {
    display: table-cell; } }
@media screen and (min-width: 940px) and (max-width: 1500px) {
  section.primary {
    clear: left;
    float: left;
    margin: 0 0 1.25%;
    padding: 0 0 2em;
    overflow: auto;
    width: 57.5%;
    /* 4 full columns. 2 columns subtracting gutters */ }

  section.primary.extended {
    clear: both;
    float: none;
    /* use margin on internal elements. since this is 100%, let's keep division easy */
    margin: 0;
    overflow: auto;
    width: 100%; }

  section.primary .primary-type-details dt {
    clear: left;
    float: left;
    width: 16.6667%; }

  section.primary .primary-type-details dd {
    float: left;
    /* gives an extra 24px margin (in the hypothetical 960px layout) */
    width: 78.9855%; }

  section.secondary {
    clear: right;
    float: right;
    margin: 0 0 1.125em;
    padding: 0 0 2em;
    overflow: auto;
    width: 37.5%;
    /* 2 full columns. 2 columns subtracting gutters */ }

  section.secondary.extended {
    clear: both;
    float: none;
    /* use margin on internal elements. since this is 100%, let's keep division easy */
    overflow: auto;
    width: 100%; }

  section.extended h1 {
    padding: 0 1.25% 0 0; }

  section.extended h2 {
    padding: 0 1.25% 0 0; }

  section.extended p {
    padding: 0 1.25% 0 0;
    width: 38.75%; }

  section.extended .sub-list-organizational-module {
    float: left;
    margin: 0 1.25% 0 0;
    width: 18.75%; }

  section.extended .sub-list-organizational-module h2 {
    padding: 0; } }
