<div class="user-header">
    <ul class="user-account-navigation">
        <li>
            <%= link_to "Your account", account_path(current_user) %>
        </li>
        <li>
            <%= link_to "Your resumes", resumes_path(current_user) %>
        </li>
    </ul>
</div>