<div class="user-header">
    <ul class="user-account-navigation">
        <% if !@resume.nil? and !@resume.id.nil? %>
            <li>
                <%= render :partial => 'resumes/preview_form' %>
            </li>
        <% end %>
        <% if !preview_mode? %>
            <li>
                <%= link_to "Home", account_path(current_user), :class => "home-link" %>
            </li>
            <li>
                <%= link_to "Your resumes", resumes_path(current_user) %>
            </li>
            <li>
                <%= link_to "Log out", logout_path %>
            </li>
        <% end %>
    </ul>
</div>