<% content_for :head do %>
    <hgroup>
        <h1>Edit your profile</h1>
    </hgroup>
<% end %>

<% page_title "Edit profile" %>

<% content_for :main do %>
    <section class="primary">
        <%= render 'form' %>
    </section>
<% end %>
