<% content_for :head do %>
    <p id="notice"><%= notice %></p>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>Your resumes</h1>
        <%= render :partial => 'resumes/list', :locals => {:user => @user, :resumes => @resumes} %>
    </section>

    <%= link_to 'Edit', edit_user_path(@user) if @user_match %> |
    <%= link_to 'Back', users_path %>
<% end %>