<table>
    <tr>
        <% if is_admin_user? %>
            <th class="d10 numericData">
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'ID', :column_name => 'id' } %>
            </th>
        <% end %>
        <th class="d40">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
        </th>
    </tr>

    <% skills.each do |skill| %>
        <tr>
            <% if is_admin_user? %>
                <td class="numericData"><%= skill.id %></td>
            <% end %>
            <td>
                <%= render :partial => 'link_to_skill', :locals => {:skill => skill, :resume => resume || nil } %>
            </td>
        </tr>
    <% end %>
</table>