<%
  resume ||= nil
  user ||= nil
  if resume
    path = resume_skill_path(:user_id => user.id, :resume_id => resume.id, :id => skill.slug)
  else
    path = skill_path(:user_id => user.id, :id => skill.slug)
  end
%>
<a href="<%= path %>" rel="internal" title="See positions where I used <%= skill.title %>">
    <%= decode(skill.shortest_name) %></a>