<%
   resume ||= nil
   user ||= nil
%>
<a href="<%= if user and resume then skill_path(:user_id => user.id, :resume_id => resume.id, :id => skill.slug) else skill_path(:user_id => current_user.id, :id => skill.slug) end %>" class="primary-type-title skill-title" rel="internal" title="See other positions where I used <%= skill.title %>">
    <%= decode(skill.shortest_name) %></a>