<% content_for :head do %>
    <hgroup>
        <h1>
          Are you ready to delete &lsquo;<%= decode(@skill.title) %>&rsquo;?
        </h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>You can&rsquo;t get it back.</h1>
        <h2>(We don&rsquo;t yet have the capability to undo changes like this.)</h2>
        <form action="<%= skill_path(@user, @skill) %>" method="DELETE">
            <input type="submit" value="Delete it" />
        </form>
    </section>
<% end %>