<% content_for :head do %>
    <hgroup>
        <h1>Editing skill</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <%= render 'form' %>
    </section>
<% end %>
