<% content_for :head do %>
    <hgroup>
        <h1>Listing skills</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <%= render :partial => 'skills/full_list', :locals => {:skills => @skills, :resume => @resume || nil } %>
    </section>
<% end %>