<% content_for :head do %>
    <hgroup>
        <h1>Skills</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <%= render :partial => 'skills/full_list', :locals => {:user => @user, :resume => @resume, :skills => @skills } %>
    </section>
<% end %>