<% content_for :head do %>
    <hgroup>
        <h1>
            Welcome to Re&#45;CV.com
        </h1>
        <h2>Your skills and experience, in context</h2>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <a href="/signup" class="action-button" rel="internal" title="">Sign up</a>
        <% if current_user %>
            <a href="/logout" rel="internal" title="">Log out</a>
        <% else %>
            <a href="/login" rel="internal" title="">Log in</a>
        <% end %>
    </section>
<% end %>