<% content_for :head do %>
    <hgroup>
        <h1>
            Welcome to Re&#45;CV.com
        </h1>
        <h2>Your skills and experience, in context</h2>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <a href="/signup" class="action-button" title="">Sign up</a>
        <% if current_user %>
            <a href="/logout" title="">Log out</a>
        <% else %>
            <a href="/login" title="">Log in</a>
        <% end %>

        <h1>
            Goodbye alphabet soup; hello clarity!
        </h1>
        <h2>This doesn&rsquo;t say much:</h2>
        <blockquote>
            HTML5, CSS, PHP, RoR, JS, jQuery, JSON, XML, XSLT, XSL-FO, C++,
            AJAX, REST, XHTML, RSS, MVC, MVVM, JSP, SVN, HAML, LESS,
            SASS/SCSS, TCP/IP, IA, UX, UI, IxD, i18n, a11y, RDF,
            SVG, WebGL, XPath, ARIA, WOFF
        </blockquote>
        <h2>A Re&#45;CV resume speaks volumes.</h2>
    </section>
<% end %>