<% content_for :head do %>
    <hgroup>
        <h1>Links <%= "for this resume" if @resume %></h1>
        <% if @resume %><h2><%= @resume.title %></h2><% end %>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <% if @links.count == 0 %>
            <p class="message explanation">
                To share your resume, just provide a link. Each link has a unique key associated with it,
                and can be made to expire, so that you can manage access to your resume separately
                for separate recipients.
            </p>
        <% end %>
        <%= render :partial => 'links/list', :locals => { :user => @user, :resume => @resume, :links => @links } %>
        <% if is_user_match? %>
            <a href="<%= new_resume_link_path({:resume_id => (@resume.nil? ? nil : @resume.id)}) %>" class="link-to-editable owner-edit-link" title="Generate a new link to share this resume">
                Generate a new link
            </a>
        <% end %>
    </section>
<% end %>
