<% content_for :head do %>
    <hgroup>
        <h1>Links <%= "for this resume" if @resume %></h1>
        <% if @resume %><h2><%= @resume.title %></h2><% end %>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <%= render :partial => 'links/list', :locals => { :user => @user, :resume => @resume, :links => @links } %>
    </section>
<% end %>
