<% content_for :head do %>
    <hgroup>
        <h1>New link <%= "for this resume" if @resume %></h1>
        <% if @resume %><h2><%= @resume.title %></h2><% end %>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <%= render 'form' %>
    </section>
<% end %>