<%
  abbreviated ||= false
  user ||= nil
  resume ||= nil
  if resume
    path = resume_softwares_path(:user_id => user.id, :resume_id => resume.id)
  else
    path = softwares_path(:user_id => user.id)
  end
%>
<% if !@softwares.nil? and @softwares.count > 0 %>
    <ol class="software-list">
        <% softwares.each do |software| %>
            <li><%= render :partial => 'softwares/link_to_software', :locals => {:user => user, :resume => resume, :software => software} %></li>
        <% end %>
    </ol>
    <% if abbreviated %>
        [&hellip;] <a href="<%= path %>" rel="internal" title="See all software/tools I&rsquo;ve used professionally">see the whole list</a>
    <% end %>
<% else %>
    No software/tools specified
<% end %>