<% content_for :head do %>
    <hgroup>
        <h1>Software/tools<% if !@job.nil? %> used at this job<% elsif !@year.nil? %> used in <%= @year.value %><% end %></h1>
    </hgroup>
<% end %>

<% page_title "Viewing software programs/tools" %>

<% content_for :main do %>
    <section class="primary extended">
        <%= render :partial => 'softwares/full_list', :locals => {:softwares => @softwares, :user => @user, :resume => @resume} %>
    </section>
<% end %>