<% content_for :head do %>
    <hgroup>
        <h1>Softwares</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary extended">
        <%= render :partial => 'softwares/full_list', :locals => {:softwares => @softwares, :user => @user, :resume => @resume} %>
    </section>
<% end %>