<% content_for :head do %>
    <hgroup>
        <h1>New software</h1>
    </hgroup>
<% end %>

<% page_title "New software program/tool" %>

<% content_for :main do %>
    <section class="primary">
        <%= render 'form' %>
    </section>
<% end %>
