<% content_for :head do %>
    <hgroup>
        <h1>
            <%= decode(@software.title) %>
            <% if is_user_match? %>
                <a href="<%= confirm_delete_software_path({:user_id => @user.id, :id => @software.slug}) %>" class="link-to-editable delete-link" title="Delete this software">[delete]</a>
            <% end %>
        </h1>
    </hgroup>
<% end %>

<% page_title "Viewing software program/tool" %>

<% content_for :main do %>
    <section class="primary">
        <h1>Positions involving <%= decode(@software.title) %></h1>
        <%= render :partial => 'jobs/small_list', :locals => { :jobs => @jobs, :user => @user, :resume => @resume } %>
    </section>
<% end %>