@import 'color-vars';
@import 'compass/css3';

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
    border: 2px solid $inputBorder;
    @include border-radius(2px);
    display: block;
    font-size: 0.875em;
    line-height: 1.5em;
    margin: 0 2px 1em;
    overflow: auto;
    padding: 1px 4px;
}
select {
    display: inline-block;
}
select[multiple] {
    height: auto;
}
input.narrow,
select[multiple].narrow,
textarea.narrow,
.form-explanation.narrow {
    width: 12em;
}
input.medium,
select[multiple].medium,
textarea.medium,
.form-explanation.medium {
    width: 24em;
}
input.wide,
select[multiple].wide,
textarea.wide,
.form-explanation.wide {
    width: 36em;
}


section p.error-explanation,
.error-explanation,
section p.form-error,
.form-error {
    background-color: $errorBg;
    border: 1px solid $errorBorder;
    @include border-radius(4px);
    display: inline-block;
    font-size: 0.875em;
    padding: 6px;
}

section p.form-explanation,
.form-explanation {
    background-color: #ffc;
    @include border-radius(4px);
    font-size: 0.875em;
    margin-top: -0.5em;
    padding: 6px;
}