@import 'color-vars';
@import 'compass/css3';
@import "widgets/action-button";

$bodyWidth: 100%;
$numberOfColumns: 24;
$smallestColumnWidth: $bodyWidth / $numberOfColumns;

$homeIconBlue: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAYAAADdRIy+AAABBElEQVQ4T+2STRLBQBCFX4cD5AiOQIk1ToATsBJ2boBTKDa4gRtgrVTcQLlB1ioyOjP5qVRqjFRZ6uX0m296+j3CN7Xx6lI2btxMcjIJEMHE6yh1VOmaoJ+BGcyOH/YlVAR9ps/lWSi6mLZOyWB6YBGW3PEhcAah9z1QDytuyDhhGZjxy2Vhat4BXOdQ3OHWs/F83bmRGGAMQM6oOFLKFAkLOBqk8la+lPsMpR/AMvcZSlh5NSCowaIRd4blh5M39pzHHSpVP8vh+rJIw5qnPgAWq+qwpl18VCzhtvg+d9OmFijOLGYQl17zB0b7WV1HsMLI6XwJumHizOShThNaO0yb0rg33tKNRKO65AoAAAAASUVORK5CYII=";
$homeIconOrange: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAYAAADdRIy+AAABE0lEQVQ4T+2SQQ7BUBCGZ1qJbTeSLh3BDZBotziBxgncQN0DqRtY16LcwA3ErtjYqz4zjzaoem1sTdI0af755u/8g1CgfKfWYJntnbYqOaoEDENNC1gn4ritgn4FpjBEQw4W4sxQ1PQeIIzlN4S2NQ3XibFcYAaWdBCUIBsidQsDc2Gf9qNyWAqm+uXSMLnCuN+ZHZeZHQaOYURadQdJAKr4n3b6nL4MhWEXvRogoLy30vVIn08Kf4a9OSWgWY8qUBcCHLI7KO2OzxNggQieiK7n9A5XQ9NNj/WVuqcOT941QIsam5mhAibWPHTvoT8qD0jON/Y8bLEsd+gfKLfoD02HXvy8FoqtPTuMvmoAPNqzDO4GSmym0D/1gSUAAAAASUVORK5CYII=";

* {
  box-sizing: border-box;
}

html {
    height: 100%;
    position: relative;
    width: 100%;
}

body {
    color: $defaultText;
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    height: 100%;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#wrapper {
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
    header {
        display: block;
        overflow: hidden;
    }
        .user-header {
            @include border-radius(0);
            bottom: 0;
            clear: both;
            display: block;
            left: 0;
            position: fixed;
            right: 0;
        }
            .user-account-navigation {
                background: $defaultText;
                background: rgba(0,0,0,0.7);
                color: #fff;
                list-style-type: inline;
                overflow: hidden;

                li {
                    float: left;
                    line-height: 2.25em;
                    list-style-type: inline;
                    margin: 1em 0;
                    padding: 0 1em;
                    vertical-align: middle;
                }
                    a:link,
                    a:visited {
                        color: $accent;
                    }
                    a:hover,
                    a:focus {
                        color: $darkest;
                    }
                    .home-link {
                        background: transparent url($homeIconBlue) no-repeat 0 0;
                        padding-left: 26px;
                    }
                    .home-link:hover,
                    .home-link:focus {
                        background-image: url($homeIconOrange);
                    }
            }

        header nav {
            clear: both;
            display: block;
        }

        header hgroup p {
            margin-bottom: 1em;
            max-width: 52em;
        }
    #main {
        overflow: hidden;
        padding: 0 $smallestColumnWidth 4em;

        hgroup h1 {
            font-size: 3em;
            font-weight: normal;
            line-height: 1.5em;
            margin: 1em 0 0;

            .link-to-editable {
                font-size: 0.5em;
                line-height: 3em;
                vertical-align: middle;
            }
        }
        hgroup h2 {
            font-size: 1.5em;
            font-weight: normal;
            line-height: 1.5em;
            margin: 0 0 0.5em;
        }
    }
          header .message,
          header .notice {
              padding: 0.75em 4.16667%;
          }
        section {
            overflow: hidden;
            padding-bottom: 1em;

            h1 {
                font-size: 1.5em;
                font-weight: normal;
                line-height: 1.5em;
                margin: 0.375em 0;
            }
            h2 {
                font-size: 1.125em;
                font-weight: normal;
                margin-bottom: 0.6667em;
            }
        }
        section p {
            font-size: 1em;
            line-height: 1.5em;
            margin: 0 0 1.5em;
        }
            section.primary .job-list .job-title {
                font-size: 1.125em;
            }
        section.secondary h2 {
            font-size: 1.125em;
            line-height: 1.333em;
            margin: 0;
        }

    footer {
        clear: both;
        display: block;
        height: 2em;
        padding: 0 $smallestColumnWidth;

        p {
            font-size: 0.875em;
            line-height: 2.28571em;
        }
    }

/* DEFAULT */
.breadcrumbs {
    background: $defaultText;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 0 $smallestColumnWidth;

    li {
        color: $lightest;
        display: inline-block;
    }
    li:not(:first-child):before {
        content: "\bb";
    }
}

tr {
    display: block;
    overflow: hidden;
}
    th {
        display: none;
        padding: 0.1875em 1em 0.1875em 0;
        text-align: left;

        a:link {
            color: $nearNeutral;
        }
    }
    section.primary th {
        font-size: 1.3125em;
    }
    td {
        display: block;
        float: left;
        padding: 0.1875em 1em 0.1875em 0;
        text-align: left;
    }
    th.numericData,
    td.numericData {
        text-align: right;
    }
    th.d10,
    td.d10 {
        width: 7.5%;
    }
    th.d15,
    td.d15 {
        width: 12.5%;
    }
    th.d20,
    td.d20 {
        width: 17.5%;
    }
    th.d25,
    td.d25 {
        width: 22.5%;
    }
    th.d30,
    td.d30 {
        width: 27.5%;
    }
    th.d35,
    td.d35 {
        width: 32.5%;
    }
    th.d40,
    td.d40 {
        width: 37.5%;
    }
        th .sort-link {
            background: transparent image-url("icons/sortable.gif") no-repeat right center;
            padding-right: 35px;
            text-decoration: none;

            &:visited {
                color: $defaultText;
            }
        }
        th .sort-link.desc {
            background-image: image-url("icons/sort-desc.gif");
        }
        th .sort-link.asc {
            background-image: image-url("icons/sort-asc.gif");
        }

@media screen and (min-width: 720px) {
    .user-header {
        @include border-radius(8px 0 0 0);
        bottom: 0;
        clear: both;
        display: inline-block;
        left: inherit;
        position: fixed;
        right: 0;
    }
        .user-account-navigation {
            @include border-radius(8px 0 0 0);
            float: right;

            form {
                margin: 0;
            }
        }
            .breadcrumbs {
                padding: 0.75em $smallestColumnWidth;
            }
                .breadcrumbs li {
                    border: 0;
                    padding: 0;
                }
                .breadcrumbs li:not(:first-child):before {
                    margin: 0 6px;
                }

        tr {
            display: table-row;
        }
            th, td {
                display: table-cell;
                float: none;
            }
}

@media screen and (min-width: 940px) and (max-width: 1500px) {
        #main header {
            margin: 0 0 1.25%;
            padding: 0 0 2em;
        }
        section.primary {
            clear: left;
            float: left;
            margin: 0 0 1.25%;
            padding: 0 0 2em;
            overflow: auto;
            width: 57.5%; /* 4 full columns. 2 columns subtracting gutters */
        }
        section.primary.extended {
            clear: both;
            float: none;
            /* use margin on internal elements. since this is 100%, let's keep division easy */
            margin: 0;
            overflow: auto;
            width: 100%;
        }
        section.secondary {
            clear: right;
            float: right;
            margin: 0 0 1.125em;
            padding: 0 0 2em;
            overflow: auto;
            width: 37.5%; /* 2 full columns. 2 columns subtracting gutters */
        }
        section.secondary.extended {
            clear: both;
            float: none;
            /* use margin on internal elements. since this is 100%, let's keep division easy */
            overflow: auto;
            width: 100%;
        }
            section.extended h1 {
                padding: 0 1.25% 0 0;
            }
            section.extended h2 {
                padding: 0 1.25% 0 0;
            }
            section.extended p {
                padding: 0 1.25% 0 0;
                width: 38.75%;
            }
            section.extended .sub-list-organizational-module {
                float: left;
                margin: 0 1.25% 0 0;
                width: 18.75%;
            }
                section.extended .sub-list-organizational-module h2 {
                    padding: 0;
                }
}

/* BASIC FORMATTING */
strong {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}
em {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
.deemphasized {
    color: $deemphasizedText;
}
blockquote {
    border-left: 2px solid $light;
    font-size: 0.875em;
    line-height: 1.5em;
    margin: 1.5em 0;
    max-width: 52em;
    padding-left: 0.5em;
}

/* LINKS */
a:link,
a:active,
a:visited {
    text-decoration: none;
}
a:link {
    color: $middle;
}
a:active {
    color: $light;
}
a:visited {
    color: $darkest;
}
a:link:hover,
a:link:focus {
    color: $darkest;
}
a.link-to-editable:link,
a.link-to-editable:visited {
    color: $accent;
}

/* BUTTONS */
a.action-button,
button.action-button,
input.action-button {
    @include action-button;
}
.action-button.huge {
    @include huge-action-button;
}

/* HEADINGS */
h1 a:link,
h1 a:active,
h1 a:visited {
    color: $defaultText;
}
h2 a:link,
h2 a:active,
h2 a:visited {
    color: $nearNeutral;
}
h2 a:hover,
h2 a:focus {
    color: $middle;
}
#main hgroup h2 {
    color: $deemphasizedText;
}
.primary-type-short-desc {
    color: $deemphasizedText;
    font-style: italic;
    padding-bottom: 1em;
    max-width: 52em;
}

/* LISTS */
ul.rhetorical,
ol.rhetorical {
    margin-bottom: 1em;
}
ul.rhetorical,
ul.rhetorical > li {
    list-style: square inside none;
}
ol.rhetorical,
ol.rhetorical > li {
    list-style: decimal inside none;
}
.highlight-list li {
    margin-bottom: 0.75em;
}
.primary-type-sub-list {
    color: #d3d3d3;
    list-style: square inside none;
    padding: 0;
}
.sub-list-organizational-module {
    margin-bottom: 1em;
}
    section.secondary .primary-type-title {
        font-size: 0.875em;
        line-height: 1.28571em;
    }

    section.secondary .year-title {
        font-size: 1.125em;
        line-height: 1.333em;
        margin-right: 0.6667em;
    }
section.primary .job-list.birds-eye .job-title {
    font-size: 1.3125em;
    line-height: 1.5em;
}
    .job-list.birds-eye .skill-list li:not(:last-child) a:after,
    .job-list.birds-eye .software-list li:not(:last-child) a:after {
        color: #444;
        content: ",";
    }

/* DETAILS (<dl>s) */
.contact-information dt {
    font-weight: bold;
}
.primary-type-details dt {
    color: $subtleAccent;
    font-family: Verdana, "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.primary-type-details dd {
    margin-bottom: 0.75em;
}

/* NOTICES */
header p.notice,
.message.suggestion {
    background-color: #ffc;
}

// TODO:this needs its own stylesheet?
.expired-link {
    color: $deemphasizedText;
}