<%
   resume ||= nil
   user ||= nil
%>
<a href="<%= resume_path({:user_id => user.id, :id => resume.id})%>" class="resume-title" rel="internal" title="See this resume"><%= decode(resume.title) %></a>