<ul class="resume-list">
    <% resumes.each do |resume| %>
        <li>
            <a href="<%= resume_path(user, resume) %>" title="See this resume" rel="internal">
                <%= resume.title %>
            </a>
            <% if @user_match %>
                <a href="<%= edit_resume_path(user, resume) %>" title="Edit this resume" rel="internal">[edit]</a>
            <% end %>
        </li>
    <% end %>
</ul>