<% content_for :main do %>
    <h1>Listing resumes</h1>

    <table>
        <tr>
            <th>Title</th>
        </tr>

        <% @resumes.each do |resume| %>
            <tr>
                <td><%= resume.title %></td>
            </tr>
        <% end %>
    </table>
<% end %>
