<%
  messages ||= model.errors[field]
  field ||= ""
%>
<% messages.each do |msg| %>
    <p class="form-error"><%= model.class.human_attribute_name(field) + " " unless hide_attr_name %><%= msg %></p>
<% end %>