<%
   highlight ||= nil
   user ||= nil
%>
<% if !highlight.nil? and !user.nil? %>
    <a href="<%= edit_highlight_path(user, highlight) %>" class="link-to-editable" rel="internal" title="Edit this highlight">[Edit]</a>
<% end %>