<%
  user ||= nil
  resume ||= nil
  highlights ||= []
%>

<table>
    <tr>
        <% if params[:skill_id].nil? %>
            <th class="d10">
                Skill<%#= render :partial => 'shared/sortable_link', :locals => { :header => 'Skill', :column_name => 'skill' } %>
            </th>
        <% end %>
        <% if params[:job_id].nil? %>
            <th class="d40">
                Job<%#= render :partial => 'shared/sortable_link', :locals => { :header => 'Job', :column_name => 'job' } %>
            </th>
        <% end %>
        <th>
            Description
        </th>
    </tr>

    <% highlights.each do |highlight| %>
        <tr>
            <% if params[:skill_id].nil? %>
                <td>
                    <%= render :partial => 'skills/link_to_skill', :locals => { :user => user, :resume => resume, :skill => highlight.skill } %>
                </td>
            <% end %>
            <% if params[:job_id].nil? %>
                <td>
                    <%= render :partial => 'jobs/link_to_job', :locals => { :user => user, :resume => resume, :job => highlight.job } %>
                </td>
            <% end %>
            <td>
                <%= highlight.description %>
            </td>
        </tr>
    <% end %>
</table>