<ul class="highlight-list">
    <% @highlights.each do |highlight| %>
        <li>
            <em><%= render :partial => 'skills/link_to_skill', :locals => {:skill => highlight.skill} %></em>:
            <%= decode(highlight.description) %>
        </li>
    <% end %>
</ul>