<%
   highlights ||= nil
   user ||= nil
   resume ||= nil
   skill_id ||= nil
   job_id ||= nil
%>
<ul class="highlight-list">
    <% highlights.each do |highlight| %>
        <li>
            <%= render :partial => 'skills/link_to_skill', :locals => {:skill => highlight.skill, :user => user, :resume => resume} %>:
            <%= decode(highlight.description) %>
            <% if is_user_match? %>
                <%= render :partial => "highlights/edit_highlight_link", :locals => { :user => user, :highlight => highlight } %>
            <% end %>
        </li>
    <% end %>
</ul>
<% if is_user_match? %>
    <a href="<%= new_highlight_path(user, {:job_id => job_id || nil, :skill_id => skill_id || nil}) %>" class="link-to-editable" rel="internal" title="Add another highlight">[Add another highlight]</a>
<% end %>