<% content_for :head do %>
    <hgroup>
        <h1>Highlights</h1>
        <% if !@job.nil? %>
            <h2>
                <%=  render :partial => 'jobs/link_to_job', :locals => {:job => @job, :user => @user, :resume => @resume} %>
            </h2>
        <% elsif !@skill.nil? %>
            <h2>
                <%= render :partial => 'skills/link_to_skill', :locals => {:skill => @skill, :user => @user, :resume => @resume} %>
            </h2>
        <% end %>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <%= render :partial => 'highlights/full_list', :locals => {:user => @user, :resume => @resume, :highlights => @highlights } %>
    </section>
<% end %>