<% content_for :head do %>
    <hgroup>
        <h1>Listing highlights</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <%= render :partial => 'highlights/full_list' %>
    </section>
<% end %>