<% content_for :head do %>
<% end %>

<% content_for :main do %>
    <p>
      <b>Job:</b>
      <%= render :partial => "jobs/link_to_job", :locals => { :user => @user, :job => @job }%>
    </p>

    <p>
      <b>Skill:</b>
      <%= render :partial => "skills/link_to_skill", :locals => { :user => @user, :skill => @skill } %>
    </p>

    <p>
      <b>Description:</b>
      <%= @highlight.description %>
    </p>
<% end %>