<table>
    <tr>
        <th class="d40">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Value', :column_name => 'value' } %>
        </th>
    </tr>

    <% @years.each do |year| %>
        <tr>
            <td>
                <%= render :partial => 'link_to_year', :locals => { :year => year.value } %>
            </td>
        </tr>
    <% end %>
</table>