<%
  user ||= nil
  resume ||= nil
  if !resume.nil?
    path = resume_year_path({:user_id => user.id, :resume_id => resume.id, :id => year})
  else
    path = "/users/#{user.id}/years/#{year}"
  end
%>
<a href="<%= path %>" rel="internal" title="See summary of <%= year %>">
    <%= year %></a>