<ol class="year-list">
    <% years.each_with_index do |year, i| %>
        <li>
            <%= render :partial => 'years/link_to_year', :locals => {:year => year.value} %>
        </li>
    <% end%>
</ol>