<%
  years ||= []
  user ||= nil
  resume ||= nil
%>
<ol class="year-list">
    <% years.each do |year| %>
        <li>
            <%= render :partial => 'years/link_to_year', :locals => {:year => year, :user => user, :resume => resume} %>
        </li>
    <% end%>
</ol>