@import '../color-vars';
@import 'compass/css3';

@mixin action-button {
    background: $accent;
    border: 0;
    @include border-radius(2px);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 36px;
    padding: 0 10px;

    &:link,
    &:active,
    &:visited,
    &:hover,
    &:focus {
        color: #fff;
    }
    &:hover,
    &:focus {
        @include background(linear-gradient($accent, $subtleAccent));
    }
    &:active {
        @include background(linear-gradient($subtleAccent, $accent));
    }
}