@import '../color-vars';

.action-button {
    background: $accent;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 36px;
    padding: 0 10px;
}
.action-button:hover,
.action-button:focus {
    background: -moz-linear-gradient(top, $accent 0%, $subtleAccent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $accent), color-stop(100%, $subtleAccent));
    background: -webkit-linear-gradient(top, $accent 0%, $subtleAccent 100%);
    background: -o-linear-gradient(top, $accent 0%, $subtleAccent 100%);
    background: -ms-linear-gradient(top, $accent 0%, $subtleAccent 100%);
    background: linear-gradient(to bottom, $accent 0%, $subtleAccent 100%);
}                   
.action-button:active {
    background: -moz-linear-gradient(top, $subtleAccent 0%, $accent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $subtleAccent), color-stop(100%, $accent));
    background: -webkit-linear-gradient(top, $subtleAccent 0%, $accent 100%);
    background: -o-linear-gradient(top, $subtleAccent 0%, $accent 100%);
    background: -ms-linear-gradient(top, $subtleAccent 0%, $accent 100%);
    background: linear-gradient(to bottom, $subtleAccent 0%, $accent 100%);
}