@import '../color-vars';
@import 'compass/css3';

.action-button {
    background: $accent;
    border: 0;
    @include border-radius(2px);
    color: #fff;
    cursor: pointer;
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 36px;
    padding: 0 10px;
}
.action-button:hover,
.action-button:focus {
    @include background(linear-gradient($accent, $subtleAccent));
}                   
.action-button:active {
    @include background(linear-gradient($subtleAccent, $accent));
}